/* hero section css 
for all the pages */


.hero {
    position: relative;
    color: white;
    padding: 100px 0;
    /* text-align: center; */
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    /* min-height: 100vh; */
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(1, 41, 8, 0.9), rgba(1, 34, 54, 0.9));
    z-index: -1;
  }

  .hero .container {
    background: transparent;
    position: relative;
    z-index: 2;
  }


  /* changes to center headings across 
  contact , index and about pages */
  .hero h1, h2{
    text-align: center;
  }
