.skills {
    text-align: center;
  }

  .skills-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }

  #Skills_image {
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 450px;
    margin: 0;
    flex-shrink: 0;
  }

  .skills .row2 {
    display: block;
    padding: 0px;
    margin-top: 20px;
    flex: 1;
    text-align: left;
    max-width: 500px;
    min-width: 180px;
  }

  .skills .progress {
    height: 10px;
    background-color: #eee;
    margin-bottom: 20px;
  }

  .skills .col-md-6 {
    padding: 0;
  }

  .skills h6 {
    margin-bottom: 10px;
  }
